body {
    font-family: Arial;
    padding: 20px;
}

label {
    margin-right: 10px;
}

input,
select {
    margin: 5px;
    padding: 6px;
}

button {
    margin: 10px 0;
    padding: 8px 14px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th,
td {
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: center;
}

th {
    background: #eee;
}

#savedList div {
    margin: 6px 0;
}